Repository mawazawa/specky: changes, and which lefthook commands are due for each by the changed paths.
All: lint-filenames, lint-typescript

lint-filenames:
  run: ./scripts/validate-filenames.sh {staged_files}

lint-typescript:
  run: npx eslint {staged_files} --no-error-on-unmatched-pattern
  stage_fixed: true

style: update palette to Cobalt Nature (no purple)
  src/app/globals.css
  src/app/page.tsx
Due: lint-typescript

feat: implement Spec Engine with Atomic Task enforcement and MCP client
  src/lib/ai/mcp-client.ts
  src/lib/spec/engine.test.ts
  src/lib/spec/engine.ts
  src/lib/spec/prompts.ts
  src/lib/spec/task-generator.ts
  src/lib/spec/types.ts
Due: lint-typescript

chore: align repo hygiene and tooling
  .ls-lint.yml
  AGENTS.md
  CLAUDE.md
  README.md
  docs/2026-01-15_deepshaft-guide.md
  docs/2026-01-15_naming-conventions.md
  postcss.config.mjs
  src/app/page.tsx
  tailwind.config.ts
Due: lint-filenames, lint-typescript

docs: add spec generator PRD, verification, CLI, roadmap
  docs/2026-01-16_spec-doc-generator-cli-spec.md
  docs/2026-01-16_spec-doc-generator-prd-spec.md
  docs/2026-01-16_spec-doc-generator-verification-spec.md
  plans/2026-01-16_backlog-plan.md
  plans/2026-01-16_spec-doc-generator-roadmap.md
Due: lint-filenames

feat: add CLI entrypoint and command skeleton
  bin/specky.js
  package.json
  src/cli/args.js
  src/cli/commands.js
  src/cli/index.js
  src/cli/usage.js
Due: none

feat: add spec pack renderer and quality report
  src/lib/spec-pack/build.js
  src/lib/spec-pack/constants.js
  src/lib/spec-pack/index.js
  src/lib/spec-pack/quality.js
  src/lib/spec-pack/render.js
  src/lib/spec-pack/write.js
Due: none

feat: add Exa verification with cache
  .env.example
  .gitignore
  src/cli/commands.js
  src/lib/spec-pack/generate.js
  src/lib/spec-pack/index.js
  src/lib/verify/cache.js
  src/lib/verify/exa.js
Due: none

feat: generate spec packs via CLI
  CLAUDE.md
  README.md
  src/cli/commands.js
  src/cli/index.js
Due: none

feat: implement AT-001 CLI Skeleton
  bin/specky.js
  src/cli/commands.ts
  src/cli/index.ts
  src/cli/types.ts
Due: lint-typescript

chore: add verification scripts and lefthook configuration
  fixtures/spec-pack-minimal/meta.json
  fixtures/spec-pack-minimal/tasks.md
  lefthook.yml
  scripts/validate-spec-pack.js
  scripts/verify-stack.sh
Due: lint-filenames

feat: add spec generator UI and API
  README.md
  src/app/api/spec-pack/route.ts
  src/app/page.tsx
  src/components/spec/SpecGenerator.tsx
  src/lib/spec-pack/constants.js
  src/lib/spec-pack/generate.js
  src/lib/spec-pack/index.js
  src/lib/spec-pack/questions.js
Due: lint-typescript

feat: implement 6-phase spec-engine pipeline with Eden-standard prompts
  planning/METHODOLOGY.md
  planning/schemas.ts
  planning/schemas/index.ts
  planning/schemas/pipeline.ts
  planning/schemas/spec-pack.ts
  planning/status.yaml
  scripts/test-agent-sdk.ts
  scripts/test-cli-direct.ts
  scripts/test-cli-stdin.ts
  scripts/test-discovery-oauth.ts
  scripts/test-pipeline-mock.ts
  scripts/test-pipeline.ts
  src/lib/spec-engine/agents/architect.ts
  src/lib/spec-engine/agents/base.ts
  src/lib/spec-engine/agents/challenger.ts
  src/lib/spec-engine/agents/decomposer.ts
  src/lib/spec-engine/agents/discovery.ts
  src/lib/spec-engine/agents/index.ts
  src/lib/spec-engine/agents/synthesizer.ts
  src/lib/spec-engine/agents/validator.ts
  src/lib/spec-engine/index.ts
  src/lib/spec-engine/orchestrator.ts
  src/lib/spec-engine/prompts/index.ts
  src/lib/spec-engine/prompts/system.ts
  src/lib/spec-engine/prompts/user-messages.ts
  src/lib/spec-engine/validators/atomic.ts
  src/lib/spec-engine/validators/citations.ts
  src/lib/spec-engine/validators/completeness.ts
  src/lib/spec-engine/validators/index.ts
Due: lint-filenames, lint-typescript

Path conditions:
  lint-filenames: any of: **/*.md
  lint-typescript: any of: *.{ts,tsx}
